<section class="header section">
    <div class="container">
        <a href="/index.html" class="logo link">
            <div class="logo__wrapper">
                <picture class="logo__images">
                    <source srcset="./images/logo/logo.webp 1x, ./images/logo/logo@2x.webp 2x" type="image/webp" />
                    <source srcset="./images/logo/logo.png 1x, ./images/logo/logo@2x.png 2x" type="image/png" />
                    <img class="logo__img" src="./images/logo/logo.png" alt="Company logo" />
                </picture>
            </div>
        </a>
        <nav class="nav">
            <ul class="nav__list list">
                <li class="nav__item"><a href="" class="nav__link link">Home</a></li>
                <li class="nav__item"><a href="" class="nav__link link">About us</a></li>
                <li class="nav__item"><a href="" class="nav__link link">How it’s made?</a></li>
                <li class="nav__item"><a href="" class="nav__link link">Our products</a></li>
                <li class="nav__item"><a href="" class="nav__link link">Contact</a></li>
            </ul>
        </nav>
        <button type="button" class="buy-btn">Buy now</button>
    </div>
</section>